@import "nord.css";

body {
  background-color: var(--nord0);
  color: var(--nord8);
  font-family: Arial, sans-serif;
}

header {
  background-color: var(--nord10);
  padding: 20px;
  text-align: center;
}

header h1 {
  color: var(--nord6);
}

main {
  padding: 20px;
}

footer {
  background-color: var(--nord2);
  color: var(--nord5);
  text-align: center;
  padding: 10px;
}
